pypdf>=3.0.0 # ou la version minimale avec laquelle vous avez testé
PyMuPDF>=1.20.0 # ou la version minimale avec laquelle vous avez testé
Pillow>=9.0.0 # ou la version minimale avec laquelle vous avez testé